/*=================Header===============================================================================*/

#header {
    background-color: var() ;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.imgheader {
    display: flex;
    justify-content: space-around;
}

.const {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*================Home============================================================================*/

.home {
    background: linear-gradient(131.58deg, #00138E 6%, #1CADFF 67.14%, #1BE0E2 97.71%);
    display: flex;
    justify-content: center;
    padding: 10rem 0rem;
}

.home p {
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: var(--cor-texto);
}